@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Open+Sans:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 24px;
}

:root {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cor-A: #1a2026;
  --cor-B: #FFBB45;
  --cor-C: #f2f7f2;
  --cor-D: #6DC8C2;
  --cor-E: #C7B8F8;
  --cor-F: #FFC1EB;
}
body {
  color: var(--cor-C);
  background-color: var(--cor-A);
}
h1 {
  font-family: "Dancing Script";
  font-size: 3rem !important; 
  line-height: 3.6rem !important;
  font-weight: 700 !important;
}
h2 {
  font-family: "Dancing Script";
  font-size: 2rem !important;
  line-height: 2.4rem !important;
  font-weight: 700 !important;
}
h3 {
  font-size: 28px;
  font-family: "Dancing Script";
  font-weight: 700 !important;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 1rem 0;
}
a {
  text-decoration: none;
  font-weight: 500;
}
